.button {
    color: var(--color-white);
    background-color: var(--color-accent);

    font-weight: 700;
    font-size: var(--font-size-secondary-16);
    line-height: 1.88;
    letter-spacing: 0.06em;

    cursor: pointer;
}