.medium-title {
    @include font(36px, false ,42px);
    text-align: center;
    letter-spacing: var(--letter-spacing-priority);

    color: var(--font-color-secondary);

    &_margin-b {
        margin-bottom: 50px;
    }
}
